html {
  font-size: 62.5%; 
}

body {
  background-color: #FFFFFF; 
}


@media (max-width: 549px) {
  header {
    height: auto;
    width: 100%; 
	} 
}

@media (min-width: 550px) {
  header {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
	
	} 
}


header #header_in {
  padding-top: 10px;
  padding-bottom: 4px; 
}

header .columns {
  box-sizing: border-box;
}


header .logo{
	padding: 0;
}

header .logo_icon {
    width: 50%;
	min-width: 200px;
}


header .sp_icon {
  display: flex;
  margin-top: 10px; 
  
}

header .sns_icon a:hover {
  color: #7B1FA2; 
}


@media (max-width: 549px) {
	header .logo{
		width: 50%;
		padding-right: 10px;
		border: solid #000000;
    }
	header .logo img{
		padding: 0;
		margin: 0;
	}
	
	header .navi{
		width: 50%;
		padding-left: 10px;
		border: solid #000000;
    }
	header .navi img{
		padding: 0;
		margin: 0;
	}
	
  header .pc_navi {
    display: none; 
	} 
}
@media (max-width: 300px) {
	header .logo_icon{
		width: 30%;
	}
}

header #navi_btn  {
	width: 50%;
	max-width: 80px;
}


header .sp_navi_li {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 2%;
  border: 1px solid #eee;
  background: #ffffff;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 100; 
}


  header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; 
}

  header .sp_navi_li li a {
    display: block;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-decoration: none; 
}



@media (min-width: 550px) {
	header .navi{
		display: flex;
		text-align: right;
	}

  header .pc_navi_li {
    display: flex;
    margin: 0;
    padding: 0; 
   }
    header .pc_navi_li li {
      list-style: none;
      margin: 17px 0 0 0;
      padding: 0;
      float: right; 
	}
    header .pc_navi_li li a {
      color: #000000;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      font-size: 1.4rem;
      padding-right: 10px; 
	}
    header .pc_navi_li li a:hover {
      color: #BA68C8; 
	}
  header .sp_navi {
    display: none; 
	} 
}

/* ---------↑header↑----------*/


/* ---------↓main↓----------*/
	
.owl-theme .owl-dots .owl-dot span {
  width: 100px;
  height: 5px;
  margin: 5px 10px;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0px; 
}


@media (max-width: 549px) {
  #main .title_newitems .title_newitems_sp {
    width: 100%; 
	}
  #main .title_newitems .title_newitems_pc {
    display: none; 
	} 
  #main .title_popular .title_popular_sp {
    width: 100%; 
	}
  #main .title_popular .title_popular_pc {
    display: none; 
	} 
  #main .title_guide .title_guide_sp {
    width: 100%;
    margin: 0 0 10px 0; 
	}
  #main .title_guide .title_guide_pc {
    display: none; 
	} 
}

@media (min-width: 550px) {
  #main .title_newitems .title_newitems_sp {
    display: none; 
	}
  #main .title_newitems .title_newitems_pc {
    width: 100%; 
	} 
  #main .title_popular .title_popular_sp {
    display: none; 
	}
  #main .title_popular .title_popular_pc {
    width: 100%;
	} 
  #main .title_guide .title_guide_sp {
    display: none; 
	}
  #main .title_guide .title_guide_pc {
    width: 100%;
    margin: 0 0 10px 0; 
	}
}


@media (max-width: 549px) {
  #main .items {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box; 
	}
    #main .items p {
      width: 100%; 
	}
    #main .items img {
      width: 100%; 
	} 
}

@media (min-width: 550px) {
  #main .items {
    float: left;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box; 
	}
	
	#main .weekly_top .item7 {
		width: 48%;
		padding: 0;
		margin: 5px;
	}
	#main .weekly_top .item8, #main .weekly_top .item9, #main .weekly_top .item10, #main .weekly_top .item11{
		float: left;
    	width: 23%;
		height: auto;
	}
	
    #main .items p {
      width: 100%; 
	}
    #main .items img {
      width: 100%; 
	  margin: 0;
	  padding: 0;
	} 
	
}

#main .weekly_top li{
	counter-increment: rank;
	position: relative;
	overflow: hidden;
}
#main .weekly_top li::before {
  content: "";
  background-color: #BA68C8;
  display: block;
  width: 100%;
  height: 4rem;
  transform: rotate(-45deg);
  position: absolute;
  left: -50%;
  top: 0;
}

#main .weekly_top li::after {
  content: counter(rank);
  color: white;
  font-size: .8rem;
  font-weight: 700;
  line-height: initial;
  text-align: center;
  width: 1.5em;
  position: absolute;
  left: .3em;
  top: .3em;
}



#main .guide-wapper {
  display: flex;
  flex-direction: column; 
}

  @media (min-width: 550px) {
    #main .guide-wapper {
      flex-direction: row;
      justify-content: space-between; 
	  } 
}


#main .guide {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: solid 2px #BDBDBD;
  margin: 0 0 10px 0;
  background-color: #ffffff; 
}


@media (min-width: 550px) {
    #main .guide {
      width: 49%; 
	} 
}
  #main .guide img {
    margin: 0;
}
  #main .guide .cards {
    width: 80%; 
}




#sidebar .side_h4 {
  width: 100%;
  padding: 5px;
  border: solid 2px #757575;
  margin: 0 0 5px 0;
  background-color: none;
  box-sizing: border-box;
  position: relative; 
}

#sidebar .side_h4_link {
  width: 100%;
  padding: 5px;
  border: solid 2px #757575;
  margin: 0 0 5px 0;
  background-color: none;
  box-sizing: border-box;
  position: relative; 
}

#sidebar .side_h4_link::after {
  content: ">";
  position: absolute;
  right: 5px;
  top: 5px; 
}

#sidebar .side_h4_link.openlink::after {
  content: "ー";
  position: absolute;
  right: 5px;
  top: 3px; 
}

#sidebar div.search {
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: solid 2px #757575;
  margin: 0 0 5px 0; 
}

  
@media (max-width: 549px) {
    #sidebar div.search {
      display: flex;
      flex-direction: column; 
	  } 
}

  
@media (min-width: 550px) {
    #sidebar div.search {
      flex-direction: row;
      justify-content: space-between; 
	} 
}

#sidebar #search_form {
  position: relative; 
}

#sidebar #search_form #sbox {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
    outline: 0;
    left: 100px;
    background: none; 
}

#sidebar #search_form #sbtn {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px; 
}

#sidebar #search_form button img{
	width: 17px;
	height: auto;
}

#sidebar .link_box_li, #sidebar .catego_box_li {
  width: 100%;
  display: none;
  z-index: 100; 
}

  #sidebar .link_box_li li, #sidebar .catego_box_li li {
    list-style: none;
    width: 100%;
    padding: 0.5em 1em;
    border: solid 1px #7B1FA2;
    margin: 0 0 5px 0;
    background-color: none;
    box-sizing: border-box;
}

  #sidebar .link_box_li li a, #sidebar .catego_box_li li a {
      display: block;
      font-size: 14px;
      position: relative;
      color: #000000;
      text-decoration: none; 
}

#sidebar .link_box_li li a::after, #sidebar .catego_box_li li a::after {
      content: ">";
      position: absolute;
      right: 5px;
      top: 2.5px; 
}

#sidebar .about_info{
	margin-bottom: 18px;
}

#sidebar .about_info p {
  flex: right; 
  margin: 5px 0;
}

@media (min-width: 550px) {
    #sidebar .about_info p {
      width: 100%;
	} 
}

#sidebar .about_info .more {
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #BA68C8;
  transition: .4s;
}

#sidebar .about_info .more:hover {
  padding-left: 0.7em;
  padding-right: 0.3em;
}


/* ---------↑main↑----------*/

/* ---------↓footer↓----------*/
#page_top {
  margin-left: auto;
  margin-right: auto; 
}

#page_top a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 10px; 
}

#page_top a:hover {
    color: #BA68C8; 
}


footer #page_top {
  position: absolute;
  right: 10px;
  margin: 10px; 
}

footer .separator {
  border-top: 1px solid #7B1FA2;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

footer p {
  text-align: center; 
}

@media (max-width: 549px) {
  footer {
    height: auto;
    width: 100%; 
	margin-left: auto;
    margin-right: auto; 
	} 
}

/* ---------↑footer↑----------*/


h2 {
  margin: 50px 0 40px 0;
  padding: 0;
  position: center;
  font-size: 20px;
  text-align: center; 
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 5px 0; 
}

h4 {
  font-size: 18px;
  margin: 5px 0 0 0;
  padding: 0; 
}


@media (max-width: 549px) {
	p {
    font-size: 10px;
    width: 100%; 
	} 
	
  .cate_image_sp {
    width: 100%;
	display: none; 
	} 
	
	.cate_image_pc {
	width: 100%; 
    display: none; 
	} 
	
	.title_recent_sp {
    width: 100%; 
	display: none;
	} 
	
	.title_recent_pc {
    display: none;
	width: 100%;
	} 
}



#products {
  background-color: #ffffff;
  margin: 0 0 40px 0;
  padding: 40px; }

#products_area {
  width: 100%; 
}

#products_area #products_img img {
    width: 100%; 
}

#products_area #products_list li {
    list-style: none;
    display: inline-block;
    float: left; 
}

#products_area #products_list li img {
      width: 20%;
      cursor: pointer;
      box-sizing: border-box; 
}

#products_area #products_list li .products_list_img {
      width: 20%;
      box-sizing: border-box;
      margin: 0; 
}


.table_colorsize {
  border-collapse: separate;
  border-spacing: 0;
  border: 0.5px solid #000000;
  width: 100%; 
}

.table_colorsize th, .table_colorsize td {
    text-align: center;
    border: 0.5px solid #000000; 
}

.table_priqua {
  width: 100%;
  box-sizing: border-box;
  margin: 0 5px 5px 0; 
}

#cart img {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 5px 5px; 
}

.table_about {
  border-collapse: separate;
  border-spacing: 0;
  border: 0.5px solid #000000;
  width: 100%; 
}

.table_about th, .table_about td {
    text-align: center;
    border: 0.5px solid #000000; 
}





/*　---------list--------- */


.pan img{
	width: 15px;
	height: auto;
	margin-right: 5px;
}

.pan a{
	color: #BA68C8;
}




/*　---------products--------- */

/*# sourceMappingURL=appleberry.css.map */