@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=Abel';


html {
	font-size: 100%;
	font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	background-color: #fff9f4;
}

.columns{
	height: auto;
}

img{
	width: 100%;
	height: auto;
}




#description{
}

#head{
	margin: 10px auto 5px auto;
}

#concept{
	margin: 10px auto 50px auto;
	padding-top: 70px;
}

.rin{
	margin: 50px auto 20px auto;
}
.taba{
	margin: 20px auto 50px auto;
}

#map{
	margin: 30px auto 30px auto;
	padding: 50px 0;
}

#foot{
	margin: 30px auto 30px auto;
	border-top: solid #666666;
}



header{
	background-image: url("../img/header_back.png");
	background-size: cover;
}

#goods{
	padding: 50px ;
	background-color: #FFFFFF;
}


p{
	color: #666666;
}

#description p{
	font-size: 13px;
	letter-spacing: 2px;
	margin: 10px 5px;
}

.he_tel p{
	font-size: 20px;
	letter-spacing: 2px;
	text-align: right;
	margin-top: 10px
}

#goods p{
	font-size: 15px;
	letter-spacing: 7px;
}

.nedan{
	text-align: right
}


#foot p{
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 10px;
}




.rin, .taba{
	display: flex;
	align-items: center;
}





.logo img{
	width: 180px;
	height: auto;
}

#goods {
	width: 70%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}


#map img{
	width: 70%;
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@media (max-width: 815px) {
	#goods p{
		font-size: 13px;
		letter-spacing: 4px;
	}
}

@media (max-width: 549px) {
	#description p{
		font-size: 8px;
		letter-spacing: 1px;
	}
	
	.logo{
		width: 30%;
	}
	.he_tel{
		width: 50%;
   		float: right;
	}
	
	.address{
		width: 50%;
	}
	.fo_tel{
		width: 50%;
   		float: right;
	}
	
	.he_tel p{
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	.rin, .taba{
		display: inline;
	}
	
	#goods p{
		font-size: 10px;
		letter-spacing: 3px;
	}
	
	#foot p{
		font-size: 8px;
		letter-spacing: 1px;
	}
}




